<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Docker Test Suite" parallel="tests" thread-count="2">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.tests.GoogleSearchTest"/>
            <class name="org.example.tests.DemoQAFormTest"/>
        </classes>
    </test>
</suite>